

ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,hr
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a
{
	color: #408040;
	text-decoration: none;
}

a:hover
{
	color: #408040;
	text-decoration: underline;
}

body, td
{
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
}

html, body {
	overflow: hidden;
}

fieldset.leftform  {
	position: relative;
}

label.fixedwidth {
	width: 130px;
	display: block;
	float: left;
	line-height: 32px;
}

label.fixedwidth2 {
	width: 70px;
	display: block;
	float: left;
	line-height: 20px;
}

.flexibleInput input {
	width: 100%;
}

.recaptcha_input_area_text {
	width: auto;
	display:inline;
	float: none;
	/*line-height: auto;*/
}

.openIDlogin input {
	background: #FFFFFF url('/web/20190311014620im_/https://www.furrymap.net/images/openid-icon-small.gif') no-repeat scroll 0pt 50%;
	padding-left: 18px;
	width: 140px;
}

fieldset input,fieldset select {
	margin-top: 6px;
}

body
{
	padding: 50%;
	/*background-color: #ffffff;*/
	color: #000000;
}

#leftbox{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 336px;
	bottom: 19px;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}

.leftbox_title {
	font-size: 18px;
	line-height: 30px;
	background-color: #408040;
	color: #ffffff;
	padding: 5px 5px 5px 10px;
}

.leftbox_closebutton {
	float: right;
	display: block;
	padding: 5px;
	font-size: 10px;
	line-height: 12px;
	background-color: #ffffff;
}

.leftbox_menu {
	position: absolute;
	top: 40px;
	bottom: 0px;
	width: 200px;
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/background.png') -80px 0px repeat-y;
	margin: 0px;
	padding-left: 22px;
}

.leftbox_menu li {
	padding-top: 10px;
}

.leftbox_menu ul {
	padding-left: 13px;
}

.leftbox_content {
	position: absolute;
	top: 50px;
	bottom: 10px;
	left: 210px;
	right: 10px;
	padding: 10px;
	overflow: auto;
	line-height: 140%;
}

.leftbox_infobox {
	float: right;
	width: 200px;
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/background.png') 0px 0px repeat-y;
	padding: 5px;
}

#furrymap {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

#rightbox {
	position: absolute;
	top: 0px;
	width: 336px;
	right: 0px;
	bottom: 19px;
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/background.png') 320px 0px repeat-y;
}

#titleimage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
	height: 95px;
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/title.gif') 0px 0px no-repeat #fff;
}

#indicator {
	position: absolute;
	top: 0px;
	left: 240px;
	width: 80px;
	height: 95px;
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/animation_still.gif') 0px 0px no-repeat #fff;
}

#indicator.animation {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/animation.gif') 0px 0px no-repeat #fff;
}

#flags {
	margin: 5px 20px;
}

#fullcontent {
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	left: 20px;
	right: 0px;
}

#fullcontent_top {
	position: absolute;
	top: 95px;
	left: 0px;
	width: 280px;
	height: 65px;
}

#topbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 280px;
	height: 25px;
	background-color:#ffffff;
}

#topbar div {
	text-align: center;
	position: absolute;
	font-size: 13px;
	font-weight: bold;
}

#topbar .button, #bottombar .button {
	width: 90px;
	height: 25px;
	line-height: 25px;
}

#topbar .button {
	top: 0px;
}

#top_button1, #bottom_button1 {
	left: 0px;
}

#top_button2, #bottom_button2 {
	left: 95px;
}

#top_button3, #bottom_button3 {
	left: 190px;
}

#topbar .gray {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/buttons.png') 0px -25px no-repeat;
}

#topbar .gray a, #bottombar .gray a  {
	color: #000000;
}

#topbar .green {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/buttons.png') 0px 0px  no-repeat;
}

#topbar .green a, #bottombar .green a {
	color: #408040;
}

#top_content {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/box_parts.png') 0px 0px no-repeat;
	top: 25px;
	left: 0px;
	width: 280px;
	height: 35px;
	padding-top: 5px;
	vertical-align: middle;
	line-height: 17px;
	color: #000000;
	text-align: center;
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	overflow: auto;
}

#middle_scroller {
	position: absolute;
	top: 160px;
	left: 0px;
	bottom: 57px;
	right: 0px;
	width: 100%;
	overflow: auto;
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/background.png') repeat-y;
}

#middle_content {
	width: 280px;
	margin-top: 0px;
	padding-bottom: 0px;
}

#bottombar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 280px;
	height: 25px;
	background-color:#ffffff;
}

#bottombar div {
	text-align: center;
	position: absolute;
	font-size: 13px;
	font-weight: bold;
}

#bottombar .button {
	bottom: 0px;
}

#bottombar .gray {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/buttons.png') 0px -75px no-repeat;
}

#bottombar .green {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/buttons.png') 0px -50px no-repeat;
}

#bottom_content {
	text-align: left;
	position: absolute;
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/box_parts.png') 0px -40px no-repeat #bfbfbf;
	bottom: 25px;
	left: 0px;
	width: 280px;
	line-height: 15px;
	color: #000;
	font-size: 11px;
	max-height: 50%;
	overflow: auto;
	min-height:16px;
}

#bottom_minimizer {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 280px;
	height: 9px;
}

.minimizer_button {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/minimize.png') 262px 0px no-repeat;
}

.maximizer_button {
	background: url('/web/20190311014620im_/https://www.furrymap.net/images/maximize.png') 262px 0px no-repeat;
}

#bottombox {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 19px;
	overflow: hidden;
}

.error_list {
	list-style-type:none;
	text-align:left;
	background-color:#ff0000;
	color:#fff;
	padding: 3px;
}

#modal_container {  
	padding:5px;  
	background-color:#ffffff;  
	border:1px solid #666666;  
	overflow:auto;   
} 
 
#modal_overlay {  
	background-color:#000000;  
}
.olPopupCloseBox {
  background: url("/web/20190311014620im_/https://www.furrymap.net/images/cross.png") no-repeat;
  cursor: pointer;
}

.closeButton {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 16px;
	height: 16px;
	background: url("/web/20190311014620im_/https://www.furrymap.net/images/cross.png") no-repeat;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #408040;
    -moz-border-radius: 1em 0 0 0;
}

.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 104px;
}    

.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 104px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    cursor: move;
    border: 2px dotted red;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
}

.olControlPermalink {
    right: 0px;
    top: 0px;
		padding: 3px;
    display: block;
    position: absolute;
		background: #ffffff;
}

.olControlJumpBox {
    left: 0px;
    bottom: 0px;
		padding: 0px;
    display: block;
    position: absolute;
		background: #ffffff;
	z-index:100000;
}

.olControlJumpBox a {
	color: #ffffff;
	font-size: 12px;
}

.olControlJumpBox ul {
	padding: 0px;
	margin: 0px;
}

.olControlJumpBox input {
	padding: 0px;
	width: 160px;
}

.olControlJumpBox li {
	padding: 2px;
}

#iframecontent {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 316px;
	border: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}
#marker_zoom {
	width: 50px;
}

.hoverimage {
	text-align: center;
}

.hoverimage div {
	visibility: hidden;
	background-color: #ffffff;
	position: absolute;
	padding: 5px;
	border: 1px solid silver;
	right: 21px;
}
.hoverimage:hover div {
	visibility: visible;
}

.rightboxtable, .rightboxtable textarea {
	width: 100%;
}

.flexibleWidth input {
	width: 100%;
}
.radio_list {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#preview_full, #preview_domain, #preview_automatic {
	margin-left: 20px;
}
/*
     FILE ARCHIVED ON 01:46:20 Mar 11, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:35:51 May 23, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 121.602 (3)
  esindex: 0.015
  captures_list: 140.642
  CDXLines.iter: 13.053 (3)
  PetaboxLoader3.datanode: 105.806 (4)
  exclusion.robots: 0.28
  exclusion.robots.policy: 0.268
  RedisCDXSource: 1.883
  PetaboxLoader3.resolve: 101.821 (2)
  load_resource: 89.36
*/